{% extends 'layout.html' %}

{% block title %}
Posts
{% endblock %}

{% block content %}
  
  <h1>Posts</h1>
  <p>
    You have <strong>{{ posts.length }}</strong> posts!
  </p>
  <p>
    <a href="/post/new">
      Create a Post
    </a>
  </p>
  <ul id="posts">
    {% for post in posts %}
      <li>
        <h2>{{ post.title }}</h2>
        <p>
          <a href="/post/{{post.id}}">
            Read post
          </a>
        </p>
      </li>
    {% endfor %}
  </ul>




<span>
  <div id="base-red" class="part">
    <div  class="bing">红队<span>30%</span></div>
  </div>
  <div id="base-blue" class="part">
    <div  class="bing">蓝队<span>30%</span></div>
  </div>
  <div id="base-green" class="part">
    <div  class="bing">绿队<span>30%</span></div>
  </div>
</span>

<div class="pie">

</div>

{% endblock %}